{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link rel="shortcut icon" href="{% static 'smallLogo.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'smallLogo.png'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <div class="logo-container">
            <a href="{% url 'userhome' %}"><img class="logo" src="{% static 'nLogo.png'%}" alt="Logo"></a>
        </div>
        <div class="menu-container">
            <ul class="menu">
                <li class="menu-item"><a href="{% url 'userhome' %}">HOME</a></li>
                <li class="menu-item"><a href="{% url 'usermovies' %}">MOVIES</a></li>
                <li class="menu-item"><a href="{% url 'usershow' %}">TV SHOWS</a></li>
                <li class="menu-item"><a href="{% url 'userpop' %}">POPULAR</a></li>
                <li class="menu-item"><a href="{% url 'userrent' %}">MY RENTALS</a></li>
                <li class="menu-item"><a href="{% url 'search' %}">SEARCH</a></li>
            </ul>
        </div>
        <div class="profile-container">
            <img class="profile-pic" src="{% static 'Profile_Photo.jpg'%}" alt="Profile Picture">
            <button class="profile-button" id="profileBtn">Profile</button>
            <div class="dropdown-menu" id="dropdownMenu">
                <a href="{% url 'userset' %}">My Account</a>
                <a href="{% url 'userset' %}">Settings</a>
                <a href="{% url 'log_in' %}">Log Out</a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class = "featured-content"
            style="background: linear-gradient(to bottom, rgba(0,0,0,0), #E7DED8), url('{% static "img/seat.jpg" %}')no-repeat center center/cover;">
            <img class="featured-title" src="{% static 'img/Avengers.png'%}" alt="Featured Title">
            <p class ="featured-description">
                "Marvel's The Avengers" is a superhero team-up movie where 
                Earth's mightiest heroes (Iron Man, Captain America, Hulk, 
                Thor, Black Widow, and Hawkeye) are assembled by S.H.I.E.L.D. 
                to fight Loki's alien invasion led by the Chitauri.</p>
            <button class="featured-button">WATCH</button>
        </div>
        <div class="movie-list-container">
            <h1 class="movie-list-title">CONTINUE WATCHING</h1>
            <div class="movie-list-wrapper">
                <div class="arrow-icon left">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="movie-list">
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/AvenPoster.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Avengers</span>
                        <p class="movie-description">"Marvel's The Avengers" is a superhero team-up movie where Earth's mightiest heroes defend Earth from Loki's alien invasion.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/TrapPoster.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Trap</span>
                        <p class="movie-description">"Marvel's The Avengers" is a superhero team-up movie where Earth's mightiest heroes defend Earth from Loki's alien invasion.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/Dexter.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Dexter</span>
                        <p class="movie-description">"Marvel's The Avengers" is a superhero team-up movie where Earth's mightiest heroes defend Earth from Loki's alien invasion.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/fightclub.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Fight Club</span>
                        <p class="movie-description">"Marvel's The Avengers" is a superhero team-up movie where Earth's mightiest heroes defend Earth from Loki's alien invasion.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/GG.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Gilmore Girls</span>
                        <p class="movie-description">"Marvel's The Avengers" is a superhero team-up movie where Earth's mightiest heroes defend Earth from Loki's alien invasion.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/wicked.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Wicked</span>
                        <p class="movie-description">"Marvel's The Avengers" is a superhero team-up movie where Earth's mightiest heroes defend Earth from Loki's alien invasion.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/yellowJ.jpeg'%}" alt="Movie Poster">
                        <span class="movie-title">Yellowjackets</span>
                        <p class="movie-description">"Marvel's The Avengers" is a superhero team-up movie where Earth's mightiest heroes defend Earth from Loki's alien invasion.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                </div>
                
                <div class="arrow-icon right">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
        <h1 class="movie-list-title">NEW TO BINGEBOX</h1>
            <div class="movie-list-wrapper">
                <div class="arrow-icon left">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="movie-list">
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/amerDad.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">American Dad</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/icarl.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">ICarly</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/nciso.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">NCIS Origins</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/swV.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Star Wars: The Empire Strikes Back</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/dm.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Despicable Me</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/savingPR.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Saving Private Ryan</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                </div>
                <div class="arrow-icon right">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <h1 class="movie-list-title">POPULAR MOVIES</h1>
            <div class="movie-list-wrapper">
                <div class="arrow-icon left">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="movie-list">
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/swIV.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Star Wars: A New Hope</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/blackPW.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Black Panther: Wakanda Forever</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/swV.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Star Wars: The Empire Strikes Back</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/johnWick.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">John Wick</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/pitchP.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Pitch Perfect</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/ACS.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Another Cinderella Story</span>
                        <p class="movie-description">"Marvel's The Avengers" is a superhero team-up movie where Earth's mightiest heroes defend Earth from Loki's alien invasion.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/wicked.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Wicked</span>
                        <p class="movie-description">"Marvel's The Avengers" is a superhero team-up movie where Earth's mightiest heroes defend Earth from Loki's alien invasion.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/annabelle.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Annabelle</span>
                        <p class="movie-description">"Marvel's The Avengers" is a superhero team-up movie where Earth's mightiest heroes defend Earth from Loki's alien invasion.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                </div>
                <div class="arrow-icon right">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <h1 class="movie-list-title">TOP RATED SHOWS</h1>
            <div class="movie-list-wrapper">
                <div class="arrow-icon left">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="movie-list">
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/Dexter.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Dexter</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/yellowJ.jpeg'%}" alt="Movie Poster">
                        <span class="movie-title">Yellowjackets</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/GG.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Gilmore Girls</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/1P.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">One Piece</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/invincible.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">invincible</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/rugratz.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">Rugrats</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-poster" src="{% static 'img/thisus.jpg'%}" alt="Movie Poster">
                        <span class="movie-title">This is us</span>
                        <p class="movie-description">Lorem ipsum dolor sit amet, his cu graeci eripuit, ferri facer adolescens duo no. Sale ancillae vis te, dicunt prompta vis eu. Mel simul ornatus id, ne eam nominati patrioque. Vis accusam adolescens id. No sea discere dolores.</p>
                        <button class="movie-button">WATCH</button>
                    </div>
                </div>
                <div class="arrow-icon right">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            
    <div class="footer">
        <div>© 2023 BingeBox. All rights reserved.</div>
        <div class="footer-info">
            <p>Terms of Use</p>
            <p>Privacy Policy</p>

            <p>Contact Us</p>
            <p>Accessibility</p>
        </div>
    </div>
    <script src="{% static 'app.js'%}" defer></script>
</body>
</html>