<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Movies</title>
</head>
<body>
    <h1>Search for Movies</h1>

    <form action="{% url 'results' %}" method="get">
        {% csrf_token %}
        <div>
            <label for="search_query">Enter Keywords:</label>
            <input type="text" id="search_query" name="q" placeholder="Title, Genre, Description...">
        </div>
        <button type="submit">Search</button>
    </form>


</body>
</html>